{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'admin.css' %}">

    <!-- <div class="admin-side">
        <div class="logo-container">
            <a href="/">
                <img src="{% static 'Images/publicpulselogo.png' %}" alt="Public Pulse Logo">
            </a>    
        </div>
        <nav class="sidebar-navigation">
            <a href="chatbot/overall_sentiment_score">Sentiment Analysis</a>
            <a href="#">Recommendation Engine</a>
        </nav>
    </div> -->


{% endblock %}
