{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
<div class="header">
    <div class="logo">
        <img src="{% static 'Images/publicpulselogo.png' %}"/>
        <a href="/">
            <h4>Public<span>Pulse</span></h4>
        </a>
    </div>
    <a href="logout" class="logout-link">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
</div>
<div class="change-password">
    <div class="profile">
        <div class="sidebar">
            <div class="profile-picture">
                {% if user.is_authenticated %}
                <img src="{% static 'Images/placeholder.jpg' %}" alt="user">
                <h4>{{user.username}}</h4>
                {%endif%}
            </div>
            <a href="user_profile">Profile</a>
            <a href="chat_history">History</a>
            <a href="status_tracking">Status Tracking</a>
            <a href="change-password">Change Password</a>   
        </div>
    </div>
    <div class="form-container password">
        <h2>Change Password</h2>
        <form method="POST" class="profile-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Change Password</button>
        </form>
    </div>
</div>
{% endblock %}